@charset "UTF-8";

body{
    background-color: rgb(206, 193, 177);
    margin: 0;
    padding: 0;
}
header{
    min-width: 300px;
    min-height: 50px;
    padding: 20px;
    font-size: 1.5em;
    background-color: #9e3535;
    text-align: center;
}
nav{
    min-width: 200px;
    background-color: #9e3535;
    padding: 10px;
    box-shadow: 1px 1px 1px black;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #b67b7b;
    transition: 500ms;
}
nav a:hover{
    background-color: #b67b7ba1;
    box-shadow: 2px 2px 2px #8f4545;
}
main{
    min-width: 300px;
    max-width: 1000px;
    min-height: 500px;
    margin: auto;
    background-color: #9eafbe;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 1px 1px 3px black;
}